<h1>HOME /views/index.hbs</h1>

<div class="container">
	<h2>{{definition}}</h2>
	<h2>{{mapping}}</h2>
</div>


<a href="/about" class="btn btn-outline-dark btn-lg">About</a>
<a href="/appstart" class="btn btn-outline-dark btn-lg">Start Application</a>
